@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
img {
  width: 100%;
  height: auto;
}
.container {
  overflow: hidden;
}
.show_pc {
  display: none !important;
}
.row {
  padding-left: vw(30);
  padding-right: vw(30);
  width: 100%;
}
