

/* =====================position============================ */
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.sticky{
  position: sticky;
}

/* ======================vi tri của chữ===================== */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* ================chữ hoa chữ thường đầu câu======================= */
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* ======================display====================== */
.d-inline {
  display: inline;
}

.d-inblock {
  display: inline-block;
}
.d-block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ==================justify content trong flex=================== */
.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-center {
  justify-content: center;
}

.justify-flexstart {
  justify-content: flex-start;
}

.justify-flexend {
  justify-content: flex-end;
}

.justify-spacearound {
  justify-content: space-around;
}

.justify-spacebetween {
  justify-content: space-between;
}

/* ================float======================= */
.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* ======================color========================= */
.red {
  color: #c62828;
}
.orange {
  color: #EF6C00;
}
.tomato {
  color: #D84315;
}
.green {
  color: #2E7D32;
}
.purple {
  color: #6A1B9A;
}
.pink {
  color: #C2185B;
}
.blue {
  color: #1565C0;
}
.lightblue {
  color: #0288D1;
}
.yellow {
  color: #F9A825;
}
.gray {
  color: #424242;
}
.grey {
  color: #616161;
}
.white {
  color: white;
}
.black {
  color: black;
}